<%= form_with(model: task) do |form| %>
<li class="list-group-item" id="<%= dom_id task, :edit %>">
  <div class="mb-2">
    <%= form.label :body, class: "hidden" %>
    <%= form.text_field :body, class: "form-control" %>
  </div>


  <div class="d-grid">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
  </li>
<% end %>
