<li class="list-group-item" id="<%= task.id %>">(<%= task.status %>) <%= task.body %><br>
   (MOVE | <%= link_to 'Show', task %> | <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>)
</li>
