<li class="list-group-item mx-auto" id="task_<%= task.id %>">
<%= task.body %>
  <div class="row mt-2 d-flex mx-auto">
    <div class="col mx-auto align-text-baseline border-1">
      <% if task.status == "pending" %>
        <%= link_to move_task_path(task), method: :patch, remote: true do %>
          <i class='fa-sharp fa-solid fa-forward'></i>
        <% end %>
      <% elsif task.status == "progress" %>
        <%= link_to move_task_path(task), method: :patch, remote: true  do %>
          <i class="fa-solid fa-square-check"></i>
        <% end %>
      <% else %>
        <%= link_to move_task_path(task), method: :patch, remote: true  do %>
          <i class="fa-sharp fa-solid fa-clock-rotate-left"></i>
        <% end %>

      <% end %>

    </div>
    <div class="col mx-auto align-text-baseline">
      <%= link_to edit_task_path(task), remote: true do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    </div>
    <div class="col mx-auto align-text-baseline"><%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %></div>

  </div>
</li>

<!-- <div class="col"><%= link_to 'Show', task %></div> -->
