Welcome, <%= current_user.username %> you have <%= @tasks.count %> pending, active or completed tasks
<%= link_to 'New Task', new_task_path %>

<div class="row mt-4">
  <div id="pending_cards" class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Pending (<%= @tasks.pending.count %>)
      </div>
      <ul class="list-group list-group-flush" id="pending_list">

        <% @tasks.pending.each do |task| %>

          <%= render "tasks/task", task: task %>
        <% end %>

      </ul>
    </div>

  </div>
  <div id="progress_column" class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        In progress (<%= @tasks.progress.count %>)
      </div>
      <ul class="list-group list-group-flush mx-auto" id="pending_list">

        <% @tasks.progress.each do |task| %>

          <%= render "tasks/task", task: task %>
        <% end %>

      </ul>
    </div>
  </div>
  <div id="completed_column" class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Completed (<%= @tasks.completed.count %>)
      </div>
      <ul class="list-group list-group-flush" id="pending_list">

        <% @tasks.completed.each do |task| %>

          <%= render "tasks/task", task: task %>
        <% end %>

      </ul>
    </div>
  </div>
</div>
<!-- 
<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Status</th>
      <th>User</th>
      <th>user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.body %></td>
        <td><%= task.status %></td>
        <td><%= task.user_id %></td>
        <td><%= task.user %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>
